.example-spacer {
    flex: 1 1 auto;
  }
  
  .example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
mat-icon
{
  margin-right: 8px;

}
table {
  width: 100%;
}
td, th {
  width: 25%;
}
.container
{
  margin: 80px;
}
#icon
{
  color:green;
  margin-left: 15px;
  
}
#icon2
{
  color:red;
  margin-left: 18px;
}